<div class="row no-margin">
    <%= render '/static_pages/topbar' %>
</div>
<div class="row no-margin">
    <div class="col-md-2 sides-background"><%= render '/static_pages/menu' %></div>
    <div class="row col-md-10 no-margin no-padding">
        <%= render '/google_maps/header' %>
        <div class="col-md-9 sensor_map no-padding"><%= render '/google_maps/map'%></div>
        <div class="col-md-3 sides-background white">
            <div class="sensor_details">
                <%= render '/sensor/details' %>
            </div>
            <hr>
            
            <div class="sensor_config">
            </div>
            <hr>
        </div>
    </div>
</div>



